/* Header styles */
header {
    background: #000000;
    padding: 48px;
    color: #ffae00;
    display: grid;
    justify-content: center;
    font-family: 'Georgia', serif;
    font-size: 48px;
    background-size: cover;
    background-position: center;
    animation: ;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr ; /* Display a single column */
    grid-template-rows: 1fr 1fr;
    gap: 10px 15px;
    grid-template-areas:
        "duck-info"
        "image-container"
        "results";
        background: #ccc3bc;
}
.image-container {
    grid-area: image-container;
    display: grid;
    justify-content: space-between; /* Center the images and provide space around them */
    align-items: center;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 4px solid #337aff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: pulse 5s infinite;
}



.results {
    grid-area: results;
    text-align: center;
    border: 4px solid #338fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.duck-info {
    grid-area: duck-info;
    background-color: rgba(255, 123, 0, 0.986);
    padding: 10px;
    justify-content: space-around;
}
.image-container {
    grid-area: image-container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Adjust the gap between images as needed */
    max-width: 75%;
    margin: auto;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 4px solid #ffc533;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.hidden{
    display: none;
}

/* Button background for showing results */
#showResults {
    background-color: #e9b8a3;
    color: white;
    padding: 15px;
    border-radius: 12px;
    
}
/* Background color for the report section */
#report {
    background-color: #d95050;
    color: white;
    padding: 10px;

}

